

<% if(!user) { %>
  <table>
    <tr>
      <td>
        <form method="GET" action="/register">
          <input type="submit" value="REGISTER">
        </form>
      </td>
      <td>
        <form method="GET" action="/login">
          <input type="submit" value="LOGIN">
        </form>
      </td>
    </tr>
  </table>

<% } else {  %>

  <form method="POST" action="/logout">
    <input type="submit" value="LOGOUT">
  </form>
  <H1> User: <%=user.email%> logged on </H1>
<% } %>

