<!DOCTYPE html>
<html lang="en">
<head>
  <title>ERROR</title>
</head>
<header>
   <% include ./partials/_header %>
</header>
<body>
  <H1> There was an error, please go back and try again </H1>
  <p> <%= errMessages %> </p>
</body>
</html>
