<!DOCTYPE html>
<html lang="en">
<head>
  <title>URL SHOW</title>
</head>
<header>
   <% include ./partials/_header %>
</header>
<body>
        <h2>
              <%= urlDatabase[shortURL] %>
      </h2>
      <!-- update form for the shortURL to point to a new long URL -->
      <form action= "/urls/<%= shortURL %>/update" method= "POST">
        <label for= "longURL">Hey Update to a new URL... why not?</label>
        <input id="longURL" type= "text" name= "bernielongURL" placeholder= "omit http:// please">
        <input type= "submit" value= "Update to new URL!">
      </form>


    <!-- Add your EJS code here
    <a href="/urls/new">Add a URL to tinfy!</a>
    -->
</body>
</html>
