<!DOCTYPE html>
<html lang="en">
<head>
  <title>URL SHOW</title>
</head>
<header>
   <% include ./partials/_header %>
</header>
<body>
        <h2>
              <%= urlDatabase[shortURL].longURL %>
      </h2>
      <form action= "/urls/<%= shortURL %>?_bernieOverride=PUT" method= "POST">
        <label for= "longURL">Hey Update to a new URL... why not?</label>
        <input id="longURL" type= "text" name= "longURL" placeholder= "omit http:// please" value="<%= urlDatabase[shortURL].longURL %>">
        <input type= "submit" value= "Update  URL!">
      </form>
</body>
</html>
